:host {
    display: grid;
    grid-template-areas: "left right";
    width: 100%;
}

#header-left {
    grid-area: left;
    display: flex;
    align-items: center;
}

#header-left button {
    margin-right: 1rem;
}

#header-right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header-right a {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:hover {
    border-bottom: 1px solid lightcoral;
}
